
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.erro {
    width: 100%;
}

.titulo {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 10px;
}

.mensagem {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.botao-group {
    display: flex;
    justify-content: space-around;
}

.botao {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #0072ff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.botao:hover {
    background-color: #005bb5;
}
